<div class="content">
  <h3>マイページ</h3>
  <div class="form">
    <%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "250x250", fallback: "no_image.jpg" %>
    <%= @user.name %>
    <%= @user.introduction %>
  </div>
  <% if @user == current_user %>
    <%= link_to "編集", edit_user_registration_path(@user) %>
  <% end %>
</div>