<% if user_signed_in? %>
  <p>ようこそ！<%= current_user.name %>さん</p>
<% else %>
  <p>ようこそ！ゲストさん</p>
<% end %>

<div class="home-content">
  <div class="text">
    <h2>真似したい、真似できる山ごはんレシピが満載</h2>
  </div>
</div>

<div class="tag-list">
  <h2>タグリスト</h2>
  <h3>
    <% @tags.each do |tag| %>
      <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>(<%= tag.posts.count %>)
    <% end %>
  </h3>
</div>

<!--<div class="new-post">-->
<!--  <h2>最近の投稿</h2>-->
<!--</div>-->