// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-content {
  background-image: image-url("background_image_5.JPG");
  background-size: cover;
  background-position: center;
  // background-repeat: no-repeat;
  height: 500px;
  // line-height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.tag-list {
  margin-top: 30px;
  // border-bottom: solid;
  // border-top: solid;
}

// .new-post {
//   margin-top: 30px;
// }